@tailwind base;
@tailwind components;
@tailwind utilities;

.chart-block {
  font-family: sans-serif;
  text-align: center;
  border-width: 0px, 0px, 0px, 0px;
  border-radius: 12px;
  margin-top: 50px;
  padding: 20px;
  text-align: center;

  margin-left: auto;
}
.confirmed {
  background-color: #331427;
}
.active {
  background-color: #132240;
}
.deceased {
  background-color: #1c1c2b;
}
.recovered {
  background-color: rgba(39, 162, 67, 0.1);
}
.tested {
  background-color: rgba(150, 115, 185, 0.1);
}

.state-detail-container {
  background: #161625;
  width: auto;
  height: 3000px;
  padding: 50px;
  color: aliceblue;
}

.bar-chart-block {
  text-align: center;
}
.bar-chart {
  color: white !important;
  display: grid;
  column-gap: 20px;
}
