.about-container {
  background: #161625;
  background-size: cover;
  height: 1021px;
  color: #f8fafc;
  padding: 30px;
  font-family: Roboto;
}
/* .main-heading {
  font-family: ;
} */

.heading-text {
  color: #94a3b8;
}

.faqsUnorderedList {
  padding: 8px;
  list-style-type: disc;
  color: #007bff;
}
.faqsUnorderedList li {
  margin-top: 10px;
}
